$background-color1:#ffffff;
$background-color2: #f2f7ff;
$background-color3: #377dff;
$background-color4:#1e1e1e;
$background-color5:#F1F1F1;
$background-color6: #377dffc5;

$text-color1:#ffffff;
$text-color2:#6cdac1;
$text-color3:#ff796d;
$text-color4:#8e989f;
$text-color5:#377dff;
$text-color6:#495057;
$text-color7:#1e1e1e;
$text-color8:#000000;
$text-color9:#000000e6;

$border-color1:#ffffff;
$border-color2:#eff1fe;
$border-color3:#377dff;
$border-color4:#1e1e1e;
$border-color5:#00000008;
$border-color6:#0000000d;
$border-color7:#00000014;